<p>
  <strong>Name:</strong>
  <h1><%= @user.name %></h1>
</p>

<p>
  <strong>Email:</strong>
  <h1><%= @user.email %></h1>
</p>
<%= link_to "Create new Account", new_user_path(@user) %><br>
<%= link_to 'Edit', edit_user_path(u) %> <br />
<%= link_to 'Go back to the main page!', users_path %>


